#main{
  width: 960px;
  margin: auto;
}
.center{
  text-align: center;
}
.year{
  margin-left: 49%;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
table {
    border-spacing: 15px;
}
th{
  font-size:20px;
  color: red;
}
.left_marg{
margin-left: 10px;
}
.marg_top{
  margin-top: 150px;
}
.filter{
  margin-top: 1%;
  text-align: center;
}
.edit{
  margin-left: 20px;
  width: 900px;
  height: 180px;
  border: 2px solid black;
  text-align: center;
}
.tto{
  margin-top: 10px;
}
.left{
  width: 33%;
  float: left;

}
